<?php
?>
        </div> <!-- end of main contaner (start in header) -->
        <!--Footer section-->
        <footer class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <ul class="nav navbar-nav navbar-right">
                    <li><span>&reg; All Rights Reserved</span></li>
                </ul>
            </div>
        </footer>

        <!--JQuery-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> -->
        <script src="{{@BASE}}/js/main.js"></script>
    </body>
</html>
