<!DOCTYPE html>
<html lang="">
<head>
<meta charset="UTF-8">
<title>{{ @title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!--Custom CSS-->
<!-- <link
	href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css"
	rel="stylesheet"> -->
	
<link rel="stylesheet" href="{{@BASE}}/css/style.css">
</head>
<body>
<span id='base_url' style='display:none;'>{{@BASE}}</span>
<span id='max_img_width' style='display:none;'>{{@config.max_img_width}}</span>

	<!--Menu Section-->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Микро CRM</a>
			</div>
			<div class="row">
				<include href="view/parts/menu.htm" />
			</div>
		</div>
	</nav>
	<div class="container">
