<thead>
						<th>#</th>
						<th>Название</th>
						<th>Заказчик</th>
						<th>Цена</th>
						<th>Статус</th>
						<th>Отчеты с данной категорией</th>
					</thead>
					<tbody>
						<repeat group="{{ @entityList }}" value="{{ @item }}">
						<tr class="">
							<td>{{ @item.id }}</td>
							
						     <set link_class="btn btn-default btn-block" />
							 <check if="{{ @item.id==@entityObj.id }}"> <set link_class="btn btn-primary btn-block" /></check>
							<td><a class="{{@link_class}}" href="{{@BASE}}/dictionary/{{@entity}}/{{@item.id}}">
							<span class="glyphicon glyphicon-pencil">
							{{ @item.name }}</a></td>
						
						<td>{{ @item.customer_name }}</td>
						<td>{{ @item.price }}</td>
						<td><check if="{{@item.status}}"> 
						    <true><span class='label label-success'>Активный</span></true>
							<false><span class='label label-default'>Неактивный</span></false>
							</check></td>
						<td><repeat group="{{ explode(',',@item.report_list) }}" value="{{ @report_id }}">
						<check if="{{ @report_id }}">
						<a class="btn btn-info" target="_blank" href="{{@BASE}}/report/{{@report_id}}">{{ @report_id }}</a>
						</check>
                        </repeat></td>
						</tr>
						</repeat>
					</tbody>